.facebook
  a#facebook_sigin(href="/auth/facebook", title="Facebook signin") Facebook
.google
  a#google_sigin(href="/auth/google", title="Google signin") Google  
.google
  a#vkontakte_sigin(href="/auth/vkontakte", title="Vkontakte signin") Vkontakte

